html {
    overflow-y: scroll;
    
}
* {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #282828;
    font-family: "Roboto Mono", Courier;
    
}
.container {
    max-width: 900px;
    margin:0 auto;
    

}
.logo {
    font-size: 18px;
    color: #458588;
    float: left;
    height: 50px;
}
.logo p{
    margin-top: 12px;
    padding-left: 12px;
}
.gallery {
    display: flex;
    flex-direction: row; 
}
.column {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
}

.pics {
    display: flex;
    flex-direction: column;
    width: 32%;  
}

.container .gallery .column .pics img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;   
}
.container .gallery .column .pics img:hover {
    border: 2px solid #89B482;
} 
h4 {
    float: left;
}
.nav {
    float: right;
    margin: 0;
    padding: 0;
    display: block;   
}
.nav li {
    display: inline-block;
    list-style-type: none;
}
.nav li a {
    text-decoration: none;
    color: #E2CCA9;
    display: block;
    padding: 14px;
    font-size: 15px;
}
.nav li a:hover {
    color: #B0B846;
}
.nav .active a{
    background-color: #B0B846;
    color: #282828;
}
.nav .active a:hover{
    color: #282828;
}
h1{
    padding-top: 15px;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    color: #EA6962;
}
.contacts{
    margin: 0;
    padding: 0;
    color: #E2CCA9;
    line-height: 28px;
    font-size: 15px;   
}
.contact-left {
    float: left;
    max-width: 60%;
}
.contact-left p {
    margin: 0;
    padding: 0;
    color: #E2CCA9;
    line-height: 28px;
    font-size: 15px;
}
#fullimageview{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.6);
}
#fullimage{
    margin-top: 20px;
    max-width:95%;
    max-height: 95%;
}
.note {
    color:#c7a62e;
    max-width: 850;
    margin: auto;
    margin-bottom: 18px;
    line-height: 28px;
}
.note ul {
    margin: 0;
    padding:0;
    border: 1px solid #c7a62e;
    border-radius: 8px;
}
.note ul li {
    color:#E2CCA9;
    font-size: 15px;
    line-height: 28px;
    padding-left: 10px;
    
}
.note-head {
    padding-left: 8px;
}
hr {
    margin-top: 24px;
    border:1px solid #453e39;
}
.hamburger {
    display: none;
}

.topbutton {
    background: none;
    border: none;
    color:#5e534b;
    font-size: 15px;
    margin-left: 50%;

}
.topbutton:hover {
    color: #94857a;
    cursor: pointer;
}

.profile-pic{
    line-height: 7px;
    font-family: "Roboto Mono";
    color: #E2CCA9;
    font-size: 6px;
    
}
.profile-pic-div {
    padding-top: 30px;
    text-align: right;
}
@media screen and (max-width: 768px){
    html.active {
        overflow: hidden;
    }
    .contact-left {
        max-width: 100%;
    }
    .nav {
        display:none;
        text-align: center;
        width:100%;
        height: 100%;
        left:0;
        top: 60px;
        position:fixed;
        overflow-y: hidden;
        z-index: 1;
    }
    .nav li {
        display: block;
        margin: 12px 0;
    }
    .nav.active {
        display: block;
    }
    .hamburger {
        display:block;
        background: none;
        border: none;
        font-size: 20px;
        float: right;
        color: #E2CCA9;
        padding: 11px;
        cursor: pointer;
    }
    .contact-left {
        float: none;
    }
    .profile-pic-div {
        text-align: center;
    }
}